body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;

  .ribbon {
    height: 20vh;
    width: 100vw;
    border: 1px solid red;
    background-color: #f0f8ff;

    > .rTitle {
      display: flex;
      align-items: center;
      height: 30%;
      width: 100%;
      margin-left: 40px;

      > p {
        margin: 10px;
        font-size: 30px;

        &:hover {
          border-bottom: 2px solid black;
        }
      }
    }

    > .rOptions {
      height: 70%;
      width: 100%;
      display: flex;

      > .r-1 {
        flex: 0.02;
        background-color: #b9d9eb;
        border-top-right-radius: 60%;

        > .curved {
          background-color: #f0f8ff;

          border-bottom-right-radius: 80%;
          height: 100%;
        }
      }

      > .r-2 {
        flex: 0.08;
        background-color: #b9d9eb;
        border-top-left-radius: 50%;
      }

      > .r-3 {
        flex: 0.9;
        background-color: #b9d9eb;
        display: flex;
        align-items: center;
        justify-content: start;

        // border-top-left-radius: 50%;

        > div {
          > img {
            height: 40px;
            width: 40px;
          }
        }
      }
    }
  }

  .excel {
    // height: 77vh;
    // width: 100vw;
    // border: 1px solid blue;
    position: relative;

    >#spreadsheet {
        border: 1px solid #000;
        cursor: default;
    }

    >#cellInput {
        position: absolute;
        display: none;
        font: 14px Arial;
        padding: 0;
        margin: 0;
        border: none;
        outline: none;
        background: transparent;
    }

    >.excelInp{
        display: none;
        margin: 0;
        padding: 0;
    }
  }
}
