body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  position: relative;

  .ribbon {
    height: 20vh;
    width: 100vw;
    // border: 1px solid red;
    background-color: #f0f8ff;
    position: relative;

    > .rTitle {
      display: flex;
      align-items: center;
      height: 30%;
      width: 100%;
      // margin-left: 0;
      position: absolute;
      top: 0;
      left: 10px;

      > p {
        margin: 10px;
        font-size: 30px;

        &:hover {
          border-bottom: 2px solid black;
        }
      }
    }

    > .rOptions {
      height: 60%;
      width: 95%;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: #b9d9eb;
      // margin: auto;
      position: absolute;
      top: 55px;
      left: 30px;
      border-radius: 10px;

      > .rLeft {
        flex: 0.6;
        margin-top: 20px;
        display: flex;
        align-items: center;
        // justify-content: space-evenly;

        // > .r-1 {
        //   flex: 0.02;
        //   background-color: #b9d9eb;
        //   border-top-right-radius: 60%;

        //   > .curved {
        //     background-color: #f0f8ff;

        //     border-bottom-right-radius: 80%;
        //     height: 100%;
        //   }
        // }

        // > .r-2 {
        //   flex: 0.08;
        //   background-color: #b9d9eb;
        //   border-top-left-radius: 50%;
        // }

        > .r-31 {
          // display: none;
          flex: 0.9;
          // background-color: #b9d9eb;
          display: flex;
          align-items: center;
          justify-content: start;
          margin-left: 10px;

          // border-top-left-radius: 50%;

          > div {
            > label {
              display: flex;
              flex-direction: column;
              align-items: center;
              justify-content: center;

              > p {
                margin-top: 30px;
              }
            }

            > input[type="file"] {
              display: none;
            }

            > .custom-file-upload {
              // border: 1px solid #ccc;
              display: inline-flex;
              padding: 6px 12px;
              cursor: pointer;

              > img {
                border-radius: 50%;
                height: 40px;
                width: 40px;
              }
            }
          }

          > button {
            margin: 10px;
            border: none;
            padding: 8px;
            background-color: transparent;
          }

          > .open {
            margin-left: 30px;
          }
        }

        > .r-32 {
          display: none;
          flex: 0.9;
          // background-color: #b9d9eb;
          // display: flex;
          align-items: center;
          justify-content: start;
          // margin-left: -60px;

          > div {
            height: 50px;
            width: 100px;
            margin-bottom: 20px;
            display: flex;
            flex-direction: column;
            align-items: center;
            // justify-content: center;
            // margin: 10px 30px;

            > button {
              height: 70%;
              width: 50%;
              border-radius: 50%;
              border: none;
              background: transparent;

              > img {
                height: 100%;
                width: 100%;
                border-radius: 50%;
              }
            }

            > p {
              text-align: center;
            }
          }
        }

        > .r-33{
          display: none;
          flex: 0.9;
          // background-color: #b9d9eb;
          // display: flex;
          align-items: center;
          justify-content: start;
          // margin-left: -60px;

          > div {
            height: 50px;
            width: 100px;
            margin-bottom: 20px;
            display: flex;
            flex-direction: column;
            align-items: center;
            // justify-content: center;
            // margin: 10px 30px;

            > button {
              height: 70%;
              width: 50%;
              border-radius: 50%;
              border: none;
              background: transparent;

              > img {
                height: 100%;
                width: 100%;
                border-radius: 50%;
              }
            }

            > p {
              text-align: center;
            }
          }
        }
      }

      > .rRight {
        flex: 0.4;
        display: flex;
        align-items: center;
        justify-content: space-evenly;

        p {
          // margin:  10px;
        }
      }
    }
  }

  .grid {
    // overflow: auto;

    .rowExcel {
      width: 100vw;
      // overflow: auto;
      // border: 1px solid blue;
      // position: relative;
      // display: flex;

      > #gridCanvas2{
        cursor: default;
        // position: absolute;
        // top: 0;
        // left: 0;
      }
    }

    .excel {
      // height: 77vh;
      // width: 100vw;
      height: 78vh;
      width: 100vw;
      overflow: auto;
      // border: 1px solid blue;
      position: relative;
      display: flex;
      // flex-direction: column;

      > #gridCanvas {
        // border: 1px solid #000;
        cursor: default;
        position: absolute;
        top: 0;
        left: 0;
      }
    }
  }

  .graph {
    display: none;
    height: fit-content;
    width: 500px;
    position: absolute;
    top: 340px;
    left: 35%;
    border: 1px dotted;
    padding: 30px;
    background-color: white;
    border-radius: 10px;
  }
}
