@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");
html,
body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
  font-family: "Quicksand", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #eeeeee;
}
html .grid-item-1,
body .grid-item-1 {
  background-color: #222222;
  display: flex;
  color: white;
  align-items: center;
}
html .grid-item-1 p,
body .grid-item-1 p {
  font-size: 25px;
  margin-left: 10px;
}
html .grid-item-1 img,
body .grid-item-1 img {
  height: 50px;
  width: 50px;
  margin-left: 24px;
}
html .grid-item-2,
body .grid-item-2 {
  background-color: #eeeeee;
  display: flex;
  align-items: center;
  justify-content: center;
}
html .grid-item-2 .formContainer,
body .grid-item-2 .formContainer {
  background-color: #ffffff;
  height: 600px;
  width: 488px;
  border-top: 2px #3ac7ec;
}
html .grid-item-2 .formContainer .formHeader,
body .grid-item-2 .formContainer .formHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
html .grid-item-2 .formContainer .formHeader img,
body .grid-item-2 .formContainer .formHeader img {
  height: 26px;
  width: 17px;
  margin-left: 32px;
}
html .grid-item-2 .formContainer .formHeader p,
body .grid-item-2 .formContainer .formHeader p {
  color: #222222;
  font-size: 24px;
  font-weight: 500;
  margin-left: -30px;
}
html .grid-item-2 .formContainer .formRadio,
body .grid-item-2 .formContainer .formRadio {
  display: flex;
  align-items: center;
  margin-top: 10px;
}
html .grid-item-2 .formContainer .formRadio div,
body .grid-item-2 .formContainer .formRadio div {
  margin-left: 25px;
  display: flex;
  align-items: center;
}
html .grid-item-2 .formContainer .formRadio div label,
body .grid-item-2 .formContainer .formRadio div label {
  color: #333333;
  font-size: 18px;
  font-weight: 500;
  margin-left: 8px;
}
html .grid-item-2 .formContainer .formRadio div input,
body .grid-item-2 .formContainer .formRadio div input {
  accent-color: #1f7a54;
  height: 20px;
  width: 24px;
}
html .grid-item-2 .formContainer .formSelectors,
body .grid-item-2 .formContainer .formSelectors {
  display: flex;
  flex-direction: column;
  justify-content: start;
  padding: 32px;
}
html .grid-item-2 .formContainer .formSelectors div,
body .grid-item-2 .formContainer .formSelectors div {
  display: flex;
  flex-direction: column;
  padding: 20px 0px;
}
html .grid-item-2 .formContainer .formSelectors div label,
body .grid-item-2 .formContainer .formSelectors div label {
  color: #666666;
  font-size: 12px;
}
html .grid-item-2 .formContainer .formSelectors div select,
body .grid-item-2 .formContainer .formSelectors div select {
  border: none;
  border-bottom: 1px solid #e0e1e1;
  margin-top: 5px;
  font-size: 16px;
  padding: 2px 0px;
  color: #222222;
  font-weight: 500;
  outline: none;
}
html .grid-item-2 .formContainer .formInputs,
body .grid-item-2 .formContainer .formInputs {
  display: flex;
  flex-direction: column;
  justify-content: start;
  padding: 0px 32px;
  position: relative;
  /* background-color: #3ac7ec; */
}
html .grid-item-2 .formContainer .formInputs div input,
body .grid-item-2 .formContainer .formInputs div input {
  width: 100%;
  border: none;
  border-bottom: 1px solid #e0e1e1;
  padding: 3px;
  outline: none;
}
html .grid-item-2 .formContainer .formInputs div input::-moz-placeholder, body .grid-item-2 .formContainer .formInputs div input::-moz-placeholder {
  color: #666666;
  font-size: 16px;
}
html .grid-item-2 .formContainer .formInputs div input::placeholder,
body .grid-item-2 .formContainer .formInputs div input::placeholder {
  color: #666666;
  font-size: 16px;
}
html .grid-item-2 .formContainer .formInputs div p,
body .grid-item-2 .formContainer .formInputs div p {
  color: #1f7a54;
  font-size: 14px;
  font-weight: 500;
  text-align: right;
}
html .grid-item-2 .formContainer .formInputs .forgotEye,
body .grid-item-2 .formContainer .formInputs .forgotEye {
  position: absolute;
  top: 50%;
  right: 30px;
}
html .grid-item-2 .formContainer .formRemember,
body .grid-item-2 .formContainer .formRemember {
  padding: 5px 32px;
  display: flex;
  align-items: center;
}
html .grid-item-2 .formContainer .formRemember label,
body .grid-item-2 .formContainer .formRemember label {
  color: #222222;
  font-size: 16px;
  font-weight: 500;
  margin-left: 5px;
}
html .grid-item-2 .formContainer .formRemember input[type=checkbox],
body .grid-item-2 .formContainer .formRemember input[type=checkbox] {
  accent-color: #1f7a54;
}
html .grid-item-2 .formContainer .formBtn,
body .grid-item-2 .formContainer .formBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
}
html .grid-item-2 .formContainer .formBtn button,
body .grid-item-2 .formContainer .formBtn button {
  height: 40px;
  width: 216px;
  color: #1f2834;
  background-color: #3fd28b;
  border: none;
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2392156863);
}
html .grid-item-3,
body .grid-item-3 {
  background-color: #eeeeee;
  display: flex;
  align-items: center;
  justify-content: center;
}
html .grid-item-3 p,
body .grid-item-3 p {
  margin-left: 20px;
  color: #1f7a54;
  font-size: 18px;
  font-weight: normal;
}
html .grid-item-4,
body .grid-item-4 {
  background-color: #e0e1e1;
  display: flex;
  align-items: center;
  justify-content: center;
}
html .grid-item-4 img,
body .grid-item-4 img {
  height: 40px;
  width: 40px;
}
html .grid-item-4 .quantum,
body .grid-item-4 .quantum {
  font-size: 20px;
  font-weight: bold;
}
html .grid-item-4 .textComp,
body .grid-item-4 .textComp {
  display: flex;
  align-items: center;
  margin-left: 32px;
}
html .grid-item-4 .textComp p,
body .grid-item-4 .textComp p {
  margin-left: 10px;
}
@media screen and (max-width: 1024px) {
  html .grid-item-4 .textComp p,
  body .grid-item-4 .textComp p {
    font-size: 12px;
  }
}
html .grid-item-4 .textComp span,
body .grid-item-4 .textComp span {
  margin-left: 10px;
  font-weight: 700;
}
@media screen and (max-width: 1024px) {
  html .grid-item-4 .textComp span,
  body .grid-item-4 .textComp span {
    font-size: 11px;
  }
}/*# sourceMappingURL=index.css.map */